# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# FastAPI / cache
backend/cache/
backend/__pycache__/

# Node / React
node_modules/
frontend/node_modules/
dist/
frontend/dist/

# OS files
.DS_Store
Thumbs.db
